<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <div class="ui-g">
                <h1>{{title}}</h1>
                <form name="editingSchoolForm" [formGroup]="schoolForm" #editingSchoolForm="ngForm">
                    <fieldset class="fieldset">
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-cog"></i></span>
                                <input type="text" pKeyFilter="int" [disabled]="true" [(ngModel)]="editingSchool.schoolCode"  maxlength="6" formControlName="schoolCode" pInputText placeholder="School Code" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-file-signature"></i></span>
                                <input type="text" [pKeyFilter]="noSpecialNoNumber" [(ngModel)]="editingSchool.schoolName" formControlName="schoolName" pInputText placeholder="School Name" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-user-graduate"></i></span>
                                <input type="text" pKeyFilter="int" [(ngModel)]="editingSchool.studentCount" maxlength="6" formControlName="studentCount" pInputText placeholder="Students Count" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-chalkboard-teacher"></i></span>
                                <input type="text" pKeyFilter="int" [(ngModel)]="editingSchool.classCount" formControlName="classCount" pInputText placeholder="Classrooms Count" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-id-card"></i></span>
                                <input type="text" pKeyFilter="int" [(ngModel)]="editingSchool.employeesCount" formControlName="employeesCount" pInputText placeholder="Employees Count" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-at"></i></span>
                                <input type="text" pKeyFilter="email" [(ngModel)]="editingSchool.schoolEmail" formControlName="schoolEmail" pInputText placeholder="School E-mail" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-male"></i></span>
                                <input type="text" [pKeyFilter]="noSpecialNoNumber" [(ngModel)]="editingSchool.principal" formControlName="principal" pInputText placeholder="Principal" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-phone-square-alt"></i></span>
                                <input type="text" [pKeyFilter]="phoneRegex" [(ngModel)]="editingSchool.schoolPhoneNumber" formControlName="schoolPhoneNumber" pInputText placeholder="School Phone Number" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <input type="text" [pKeyFilter]="noSpecialNoNumber" [(ngModel)]="editingSchool.city" formControlName="city" pInputText placeholder="City Name" required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <input type="text" [pKeyFilter]="noSpecialNoNumber" [(ngModel)]="editingSchool.state" formControlName="state" maxlength="4" pInputText placeholder="State/Province Name"
                                    required>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="fas fa-map-marked-alt"></i></span>
                                <input type="text" [pKeyFilter]="noSpecialNoNumber" [(ngModel)]="editingSchool.country" formControlName="country" pInputText placeholder="Country Name" required>
                            </div>
                        </div>
                        <div class="botoes">
                            <button class="p-button-warning" pButton (click)="quit()" type="submit" icon="pi pi-undo" iconPos="left" label="Quit">
                            </button>
                            <button class="p-button-secondary" pButton (click)="onSubmit()" type="submit" icon="pi pi-check" iconPos="left"
                                label="Edit School">
                            </button>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
    </div>
</div>