.page-footer{
    display:flex;
    background-color: rgb(20, 20, 20);
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid white;
    justify-content:center;
    align-items:center;
}

a{
    text-decoration: none;
    color: white; 

}

.container-footer{
    max-width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 668px) {

    .page-footer {
        position: relative;
    }
    
}