@charset "UTF-8";

:root
{
  
  --ff-main: 'Rubik', sans-serif;
  --ff-alt:'Press Start 2P', Lobster;

}

.font-main{
    font-size: 1.2rem;
    font-weight: 800;
    font-family: var(--ff-main);

}


/*
====================  Header/Body Default Settings ===================================
*/
body,
h1,
h2,
h3,
p
{

    list-style: none;
    margin: 0;

}

body {

    height: 100%;
    width: 100%;
    display:flex;
    margin: 0;

}

header {

    height: 100%;
    width: 100%;
    display:flex;
    margin: 0;
    
}

@media screen and (max-width: 575px) {
    body
    {
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
}